.quadro{
    border: 1px solid;
    border-color: transparent;
}

.botao_excluir{ 
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.div_botao_criar_quadro{
    margin-top: 1%;
    height: 45%;
    width: 45%;
}

.modal_quadro {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .conteudo_modal_quadro{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    margin-top: 5%;
  }


  /* The Close Button */
.close_modal_quadro {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_modal_quadro:hover,
  .close_modal_quadro:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  
  body
  {
      display: table;
      width: 100%;
      height: 100vh;
      color: white;
      background-position: 30% 45%;
      background-size: cover;
     
  }