.botao_fechar{
    position: relative;
    margin-top: 2%;
      
    color: #787878;
    cursor: pointer;
}

.botao_excluir{ 
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.botao_tag{
    padding: 14px 75px !important;
    margin: 2% 2% 2% 2%;
}

.classe_lista{
    background: white;
    border: 1px solid;
    border-color: grey;
}


